.expense {
  display: flex;
  align-items: center;
  margin: 1rem auto;
  color: white;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px 2px grey;
  background-color: #2e2e2e;
}

.date {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  width: 100px;
  background-color: #585858;
  border: 1px solid white;
  border-radius: 1rem;
}
.year {
  font-size: larger;
  font-weight: bold;
}
.month {
  font-size: small;
}

.day {
  font-size: large;
  font-weight: bold;
}
.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  padding: 1rem;
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
}
.amount {
  background-color: #04b4ae;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid white;
  box-shadow: 1px 1px 1px 1px grey;

  text-align: center;
}
@media only screen and (max-width: 40rem) {
  .details {
    flex-direction: column;
    align-items: flex-end;
  }
  .amount {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}
